<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a routerLink="/login">Courses</a>
  <a href="#contact">Contact</a>
  <a href="https://www.umkc.edu/calendar/">Calendar</a>
  <a href="https://umkcbookstore.com/">Book</a>
  <div class="end">
    <a><span  (click)="Profile()">Profile</span></a>
    <a><span (click)="Signout()">logout</span></a>
  </div>
</div>


<div>
  <router-outlet></router-outlet>
</div>
    <app-book-landing-content></app-book-landing-content>




<div class="bottom">





  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8LMtONJEJLJyDHFRitCVT-AHqnX4rYi6rB1EmJ4owKAmjB-ia&s" alt="Avatar" class="avatar">Divya
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8LMtONJEJLJyDHFRitCVT-AHqnX4rYi6rB1EmJ4owKAmjB-ia&s" alt="Avatar" class="avatar">Bhashitha
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8LMtONJEJLJyDHFRitCVT-AHqnX4rYi6rB1EmJ4owKAmjB-ia&s" alt="Avatar" class="avatar">Haritha
</div>

</body>
</html>
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <title>Dashboard</title>-->
<!--  <link href="../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">-->
<!--  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">-->
<!--  <link href="../../assets/css/sb-admin-2.min.css" rel="stylesheet">-->
<!--</head>-->
<!--<body>-->
<!--<div class="topnav">-->
<!--    <a href="index.html">-->
<!--      <div>-->
<!--      </div>-->
<!--      <div>Student Portal</div>-->
<!--    </a>-->
<!--      <a class="nav-link" href="dashboard">-->
<!--        <span>Dashboard</span></a>-->
<!--    <div class="topbar-heading">-->
<!--      Main Students-->
<!--    </div>-->
<!--      <a class="nav-link" href="#">-->
<!--        <span>Enrolled Courses</span>-->
<!--      </a>-->
<!--      <a class="nav-link" href="https://umkcbookstore.com/">-->
<!--        <span>Books</span>-->
<!--      </a>-->
<!--      <a class="nav-link" href="https://www.umkc.edu/calendar/">-->
<!--        <span>Calender</span>-->
<!--      </a>-->
<!--    <div class="topbar-heading">-->
<!--      Friends-->
<!--    </div>-->
<!--      <a class="nav-link" href="#">-->
<!--        <span>Haritha</span></a>-->
<!--      <a class="nav-link" href="#">-->
<!--        <span>Divya</span></a>-->
<!--  <div id="content-wrapper" class="d-flex flex-column">-->
<!--    <div id="content">-->

<!--      <div class="container-fluid">-->
<!--        <div>-->
<!--          <h1 class="h3 mb-0 text-gray-800">Courses</h1>-->
<!--        </div>-->
<!--        <app-book-landing-content></app-book-landing-content>-->
<!--      </div>-->
<!--      <nav>-->
<!--        <button id="topbarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">-->
<!--        </button>-->


<!--          <div class="topbar-divider d-none d-sm-block"></div>-->
<!--            <a class="nav-link">-->
<!--              <span  (click)="Profile()">Profile</span><br>-->

<!--              <span (click)="Signout()">Logout</span>-->
<!--            </a>-->
<!--      </nav>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->
<!--<script src="../../assets/vendor/jquery/jquery.min.js"></script>-->
<!--<script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->
<!--<script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>-->
<!--<script src="../../assets/js/sb-admin-2.min.js"></script>-->
<!--<script src="../../assets/vendor/chart.js/Chart.min.js"></script>-->
<!--<script src="../../assets/js/demo/chart-area-demo.js"></script>-->
<!--<script src="../../assets/js/demo/chart-pie-demo.js"></script>-->

<!--</body>-->
<!--</html>-->
