<div class="xyz">
  <div class="row">
    <div class="column">
      <div class="card">
        <h3>Courses Enrolled</h3>
        <p>No of classes</p>
        <p>credits:</p>
        <h5 class="card-title">{{book[0].class1}}</h5>
        <mat-card-actions>
          <a mat-raised-button color="primary" [routerLink]="['/course-edit', book[0].uName]"><mat-icon>edit</mat-icon></a>
        </mat-card-actions>

      </div>
    </div>

    <div class="column">
      <div class="card">
        <h3>Courses Enrolled</h3>
        <p>No of classes</p>
        <p>credits:</p>
        <h5 class="card-title">{{book[0].class2}}</h5>
        <mat-card-actions>
          <a mat-raised-button color="primary" [routerLink]="['/course-edit', book[0].uName]"><mat-icon>edit</mat-icon></a>
        </mat-card-actions>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <h3>Courses Enrolled</h3>
        <p>No of classes</p>
        <p>credits:</p>
        <h5 class="card-title">{{book[0].class3}}</h5>
        <mat-card-actions>
          <a mat-raised-button color="primary" [routerLink]="['/course-edit', book[0].uName]"><mat-icon>edit</mat-icon></a>
        </mat-card-actions>
      </div>
    </div>


  </div>
</div>
